<footer id="layout-footer">
    <div>
        <p>The Khapitar Kampany. All right reserved</p>
    </div>
    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/users/profile/<%=user._id%>">Profile</a>
                </li>
            </ul>
        </nav>
    </div>

</footer>