<footer id="layout-footer">
    <div>
        <p>The Khapitar Kampany. All right reserved</p>
    </div>
    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <%if(locals.user){%>
                        <a href="/users/profile/<%=user.id%>">Profile</a>
                    <%}
                    else{%>
                        <a href="/users/sign-in">Profile</a>
                    <%}%>
                </li>
            </ul>
        </nav>
    </div>

</footer>