#layout-footer {
    color: white;
    background-color: gray;
    a {
        text-decoration: none;
        color: white;
    }
    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    .footer-nav {
        ul {
            list-style: none;
        }
    }
}